<div class="container">

	<h1>Edit Existing Member</h1><br>
	<% if @response != nil %> 
		<% @response.each do |elem| %>
			<% if elem.at(0) == "_id" %>
				<% @dbID = elem.at(1) %>
			<% end %>
			<% if elem.at(0) == "_rev" %>
				<% @dbRev = elem.at(1) %>
			<% end %>
			<% if elem.at(0) == "MEMBER_NUMBER_UNIQUE" %>
				<% @memberID = elem.at(1) %>
			<% end %>
			<% if elem.at(0) == "BARCODE" %>
				<% @barcode = elem.at(1) %>
			<% end %>
			<% if elem.at(0) != "_id" and elem.at(0) != "_rev" and elem.at(0) != "BARCODE" %>
				<strong><%= elem.at(0) %></strong><%=" : " + elem.at(1)%><br>
			<% end %>
		<% end %>
		<br>

		<%= simple_form_for @changes do |f| %>
			<%= hidden_field_tag(:member_id, @memberID) %>
			<%= hidden_field_tag(:dbID, @dbID) %>
			<%= hidden_field_tag(:dbRev, @dbRev) %>
			<%= hidden_field_tag(:barcode, @barcode) %>
		    <%= f.input :first_name, label: "First Name" %>
		    <%= f.input :last_name, label: "Last Name" %>
		    <%= f.input :phone, placeholder: "ex: 999-999-9999" %>
		    <%= f.input :email, placeholder: "ex: example@host.com" %>
		    <%= f.input :member_type, label: "Membership Type", placeholder: "ex: BCM, 10NR, FMBC..." %>
		    <%= f.input :status_code, label: "Status Code", placeholder: "ex: UPL, RFC, LNK..." %>
		    <%= f.input :status_code_descr, label: "Status Code Description" %>
		    <%= f.input :is_active, label: "Is Member Active?", as: :radio_buttons, collection: ["Active", "Inactive"], checked: ["Active"] %>
		    <%= f.input :pay_status, label: "Payment Status" %>
			<%= f.button :submit, 'Edit Existing Member (Barcode ' + @barcode + ')', :order => "temp",  data: { disable_with: 'Please Wait...' } %>
		<% end %>
	<% else %>
		<%= "No Member for ID " + params[:member_id] + " exists!" %>
	<% end %>

</div>